footer {
    background: hsl(175, 8.57%, 27.45%);
    color: hsl(175, 8.33%, 71.76%);
    height: 50px;
    display: grid;
    align-content: center;
    justify-content: center;
    margin-top: 96px;
    & p {
        margin-bottom: 0;
    }
    & a {
        text-decoration: underline;
        color: hsl(175, 8.33%, 71.76%);
    }
    & a:hover {
        color: hsl(175, 8.33%, 71.76%);
        font-weight: 500;
    }
}
